*{
  font-family: sans-serif;
  padding-left: 10px;
}

h1 {
  color: green;
}

ul {
  padding: 10px;
  margin-bottom: 70px;
  border-radius: 10px;
}

.note {
  padding-top: 3px;
  font-size: 15px;
  list-style-type: none;
}

button {
    padding: 5px;
    margin-left: 10px;
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
  padding: 5px;
  background-color: #a3a2a2;
  border: none;
  border-radius: 5px;
}

.functionalBtn {
    background-color: lightgray;
    padding: 5px 30px;
}

.functionalBtn:hover {
  background-color: black;
  padding: 5px 30px;
  color: white
}

.deleteBtn {
  background-color: rgb(255, 255, 255);
  padding: 5px 10px;
  margin-right: 10px;
  color: red
}

.deleteBtn:hover {
  background-color: #a3a2a2;
  padding: 5px 10px;
  margin-right: 10px;
  color: white
}

.error {
  color: red;
  background: #dddddd;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 400px;
  padding: 10px 30px;
  margin-bottom: 70px;
}


.loginComp {
  margin-right: 20px;
  padding: 20px;
  position: absolute;
  top: 70px;
  right: 100px;
  border: 1px solid grey;
  border-radius: 10px;
}

.loginField{
  margin-bottom: 10px;
}
.loginField input{
  margin: 5px;
  height: 20px;
}
